body{
    background: url("../img/atrologia.jpeg") center/cover no-repeat;
    margin: 0px;
    height: 40vh;
}
section{
   margin-top: 22%;
    text-align: center;
}
textarea{
    height: 30px;
    font-size: 1.5em;
}
.input{
    position: relative;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
}
textarea {
    position: relative;
	display: inherit;
	border-radius: inherit;
	margin: 0;
	border: none;
	outline: none;
	padding: 0 .325em;
	z-index: 1;
}
textarea:focus + .this{
    opacity: 2;
	transform: scale(1);
}
.this{
    
		
	transform: scale(.993, .94); 
	transition: transform .5s, opacity .25s;		opacity: 0;
	position:absolute;
	z-index: 0; 
	margin:4px; 
	left:0;
	top:0;
	right:0;
	bottom:0;
	border-radius: inherit;
	pointer-events: none; 
	box-shadow: inset 0 0 0 3px #fff,
	0 0 0 4px #fff,
	3px -3px 30px #1beabd, 
	-3px 3px 30px #10abff;
	
}



input{
    margin-top: 5%;
}

