@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');
/* font-family: 'IBM Plex Sans', sans-serif;*/
body{
	font-family: 'IBM Plex Sans', sans-serif; 
    background: url("../img/atrologia.jpeg") center/cover no-repeat;
    margin: 0px;
    height: 60vh;
}
section{
   margin-top: 12%;
    text-align: center;
}
textarea{
    height: 30px;
    font-size: 1.5em;
}
.input{
    position: relative;
  
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
}
input[type="submit" i]{
	font-weight: 500;
	color: white;
	margin-top: 3%;
	border-radius: 50px;
	background-color: #ff4010;
	padding: 10px 30px;
}
input[type="submit" i]:focus{
	border-radius: 50px;
}
textarea {
	display: inherit;
	border-radius: inherit;
	margin: 0;
	border: none;
	outline: none;
	padding: 0 .325em;
	z-index: 1;
}
textarea:focus + .this{
    opacity: 2;
	transform: scale(1);
}
.this{
    transform: scale(.993, .94); 
	opacity: 0;
	position:absolute;
	z-index: 0; 
	margin:4px; 
	left:0;
	top:-11%;
	right:0;
	bottom:0;
	border-radius: inherit;
	pointer-events: none; 
	box-shadow: inset 0 0 0 3px #fff,
	0 0 0 4px #fff,
	3px -3px 30px #ea5d1b, 
	-3px 3px 30px #ff4010;
	
}
h2 , p, h1{
	color: #fff;
}

img{
	margin-top: 5%;
}





